Tasks/hoor/workflow/my workflow (2).json
{
  "name": "Smart Business Intelligence Reporting System(Fast Track)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ea98180-5caf-4d94-97c0-cf8f91ee118b",
              "name": "Standard_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "42c4793e-0e10-4541-9c5a-2f0518691084",
              "name": "Standard_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "a0569803-5710-4390-bb4d-6657fb7f63c2",
              "name": "Std_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] | $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "534cb0d6-b5f2-460f-b362-b568fb848c11",
              "name": "Std_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] | $json[\"الساعة\"] }}",
              "type": "string"
            },
            {
              "id": "0014855c-83f9-473a-bfd9-3cd6b64a5fbc",
              "name": "Std_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] | $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "a434c91c-dc7c-42f2-88de-b11b1892319d",
              "name": "Std_CustomerID",
              "value": "={{ $json[\"CustomerID\"] | $json[\"CustID\"] | $json[\"العميل\"] }}",
              "type": "string"
            },
            {
              "id": "0c98cd1a-94f5-4ecb-8267-50f673a891c5",
              "name": "Std_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] | $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "3f988065-a40e-41fb-adef-79e5ac92affd",
              "name": "Std_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"السعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "2a701859-c748-4988-b3a0-7d5b7422c40b",
              "name": "Std_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] | $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "ac0bef13-287d-467d-8460-7f0a8ff8e74d",
              "name": "Std_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] | \"غير محدد\" }}",
              "type": "string"
            },
            {
              "id": "b54e06f2-bfd6-49e0-82e9-7f155276b674",
              "name": "Std_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "5274de54-9970-4b33-b493-e8f3aa0ef04b",
              "name": "Std_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        96
      ],
      "id": "29edb6fa-f00f-4944-8969-66fc89d0aadc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9dd9fc6-281e-4e9f-bf94-8b92f9c3a9fb",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        96
      ],
      "id": "5612abd0-0e85-4a44-80c1-5f3a94b11e06",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. استخدام الحقول الموحدة من نود Edit Fields\n    const price = data.Standard_Price || 0;\n    const qty = data.Standard_Qty || 0;\n    const productName = data.Standard_Product || \"غير معروف\";\n    const orderDate = data.Std_Date;\n    \n    totalRevenue += price;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة\n    if (price > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    // 4. معالجة الوقت والتاريخ\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            const hour = dateObj.getHours();\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n        }\n    }\n});\n\n// 5. ترتيب المنتجات وتنسيق القائمة بشكل رأسي <br>\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `• ${name}: <b>${qty}</b> قطعة`;\n}).join('<br>'); // النزول لسطر جديد في الإيميل\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 6. الاستنتاج الذكي (Insight)\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 7. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName,\n    top5Products: top5List,\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"Webhook1\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        80
      ],
      "id": "423dc7fd-b667-4dd7-a0bc-1dd6cf1a5058",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        288
      ],
      "id": "6f108864-7c38-465f-8ca2-a6f7c1c96d87",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        80
      ],
      "id": "48a5f677-eb3d-4afc-8246-5d53c94708cd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ed76aaf-7952-4dc3-b312-0ab5054b4e62",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "File ",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        96
      ],
      "id": "93d43e8d-f711-4f3e-aec9-bc31dff0920a",
      "name": "Webhook1",
      "webhookId": "2ed76aaf-7952-4dc3-b312-0ab5054b4e62"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0]\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        96
      ],
      "id": "01c371de-af08-4de0-a3b0-a3ff421f0088",
      "name": "Extract from File1"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8ad3e09-e29e-44c7-ae9b-3d4eda2a7b5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3935f992dabb03780b6a844bef2708ef6c8585b552b18ab1933818ee6b57ba97"
  },
  "id": "Mdu6Q0_8HmqmKaXtKdzE-",
  "tags": []
}