Tasks/Hamed/My-Workflow/My_Webhook_2.json
{
  "name": "Smart Business Intelligence Reporting System(Fast Track)",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        240
      ],
      "id": "90a64467-5d62-46e2-ae3f-f3f3c0cba3ec",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. استخدام الحقول الموحدة من نود Edit Fields\n    const price = data.Standard_Price || 0;\n    const qty = data.Standard_Qty || 0;\n    const productName = data.Standard_Product || \"غير معروف\";\n    const orderDate = data.Std_Date;\n    \n    totalRevenue += price;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة\n    if (price > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    // 4. معالجة الوقت والتاريخ\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            const hour = dateObj.getHours();\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n        }\n    }\n});\n\n// 5. ترتيب المنتجات وتنسيق القائمة بشكل رأسي <br>\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `• ${name}: <b>${qty}</b> قطعة`;\n}).join('<br>'); // النزول لسطر جديد في الإيميل\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 6. الاستنتاج الذكي (Insight)\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 7. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName,\n    top5Products: top5List,\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"First_Webhook\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        224
      ],
      "id": "3968fd55-01fb-4d1d-a073-2079f93e33f3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad624591-7964-4d15-b004-84c661ee7527",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        32
      ],
      "id": "d085c530-eecb-4771-8c32-96648c2c3dfc",
      "name": "First_Webhook",
      "webhookId": "ad624591-7964-4d15-b004-84c661ee7527"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        224
      ],
      "id": "94665e66-5d38-4880-b0c7-2cecce6ac4d6",
      "name": "Respond_to_First_Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9dd9fc6-281e-4e9f-bf94-8b92f9c3a9fb",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        240
      ],
      "id": "c92459f5-607f-4441-b2e7-6c8769382bb7",
      "name": "IF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ea98180-5caf-4d94-97c0-cf8f91ee118b",
              "name": "Standard_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || $json[\"أجمالي السعر\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "42c4793e-0e10-4541-9c5a-2f0518691084",
              "name": "Standard_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "a0569803-5710-4390-bb4d-6657fb7f63c2",
              "name": "Std_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] | $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "534cb0d6-b5f2-460f-b362-b568fb848c11",
              "name": "Std_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] | $json[\"الساعة\"] }}",
              "type": "string"
            },
            {
              "id": "0014855c-83f9-473a-bfd9-3cd6b64a5fbc",
              "name": "Std_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] | $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "a434c91c-dc7c-42f2-88de-b11b1892319d",
              "name": "Std_CustomerID",
              "value": "={{ $json[\"CustomerID\"] | $json[\"CustID\"] | $json[\"العميل\"] }}",
              "type": "string"
            },
            {
              "id": "0c98cd1a-94f5-4ecb-8267-50f673a891c5",
              "name": "Std_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] | $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "3f988065-a40e-41fb-adef-79e5ac92affd",
              "name": "Std_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"السعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "2a701859-c748-4988-b3a0-7d5b7422c40b",
              "name": "Std_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] | $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "ac0bef13-287d-467d-8460-7f0a8ff8e74d",
              "name": "Std_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] | \"غير محدد\" }}",
              "type": "string"
            },
            {
              "id": "b54e06f2-bfd6-49e0-82e9-7f155276b674",
              "name": "Std_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "5274de54-9970-4b33-b493-e8f3aa0ef04b",
              "name": "Std_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        240
      ],
      "id": "907177fa-2a94-435f-8cd6-99fa09d359ff",
      "name": "Edit_Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        480
      ],
      "id": "464eeb05-8bfc-4d5a-a51c-84fe3766a238",
      "name": "Respond_to_First_Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond_to_First_Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First_Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_to_First_Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_Fields": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "abe65189-afd5-481c-866b-78e382d3a332",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3935f992dabb03780b6a844bef2708ef6c8585b552b18ab1933818ee6b57ba97"
  },
  "id": "-4D4bwYKJpHcgWduO-ht5",
  "tags": []
}