n8n-Workflows/Smart Business Intelligence Reporting System(Fast Track).json
{
  "name": "Smart Business Intelligence Reporting System(Fast Track)",
  "nodes": [
    {
      "parameters": {
        "content": "# Smart Business Intelligence Reporting System\n\n## Graduation Project | MCI Academy 2026",
        "height": 176,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        96
      ],
      "id": "7faaf26d-02ae-44cf-a652-0d1aa643b653",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Start Fast Track",
        "height": 96,
        "width": 294,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        560
      ],
      "id": "ae143086-4e45-44bc-b9da-6cc1af761211",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31fc8a26-7929-40cf-9b35-9a537e2c6f19",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        896
      ],
      "id": "779dcdff-3847-40a1-ad5f-c2272f58bc04",
      "name": "Receive Sales File",
      "webhookId": "31fc8a26-7929-40cf-9b35-9a537e2c6f19"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        896
      ],
      "id": "494d62fb-c99e-43f2-ace9-3bda817e8451",
      "name": "Parse Excel Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. استخدام الحقول الموحدة من نود Edit Fields\n    const price = data.Standard_Price || 0;\n    const qty = data.Standard_Qty || 0;\n    const productName = data.Standard_Product || \"غير معروف\";\n    const orderDate = data.Std_Date;\n    \n    totalRevenue += price;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة\n    if (price > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    // 4. معالجة الوقت والتاريخ\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            const hour = dateObj.getHours();\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n        }\n    }\n});\n\n// 5. ترتيب المنتجات وتنسيق القائمة بشكل رأسي <br>\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `• ${name}: <b>${qty}</b> قطعة`;\n}).join('<br>'); // النزول لسطر جديد في الإيميل\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 6. الاستنتاج الذكي (Insight)\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 7. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName,\n    top5Products: top5List,\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"Receive Sales File\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        880
      ],
      "id": "42d45b31-c424-45cd-b875-e9317fa03135",
      "name": "Calculate Quick Metrics"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2912,
        880
      ],
      "id": "ce30b676-ff7e-46c2-924e-90fb42f52466",
      "name": "UI Instant Response"
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
        "subject": "📑 التقرير السريع لمبيعاتك | Smart BI System",
        "html": "=<div dir=\"rtl\" style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f8fafc; padding: 20px;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #0f172a; padding: 30px; border-radius: 15px 15px 0 0; text-align: center;\">\n        <h1 style=\"color: #ffffff; margin: 0; font-size: 28px; letter-spacing: 1px;\">Smart BI <span style=\"color: #3b82f6;\">System</span></h1>\n        <p style=\"color: #94a3b8; margin-top: 10px; font-size: 14px;\">قطاع تحليلات المبيعات اللحظية - MCI Academy</p>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-bottom: 1px solid #e2e8f0;\">\n        <div style=\"background-color: #fff7ed; border-right: 5px solid #f59e0b; padding: 15px; border-radius: 8px;\">\n            <h3 style=\"color: #9a3412; margin: 0 0 5px 0; font-size: 16px;\">💡 تحليل المحرك الذكي:</h3>\n            <p style=\"color: #475569; font-size: 15px; margin: 0; line-height: 1.6;\">{{ $json.insight }}</p>\n        </div>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;\">\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n            <tr>\n                <td width=\"48%\" style=\"background-color: #eff6ff; padding: 20px; border-radius: 12px; text-align: center; border: 1px solid #dbeafe;\">\n                    <p style=\"color: #1e40af; margin: 0; font-size: 13px; font-weight: bold;\">إجمالي الإيرادات</p>\n                    <h2 style=\"color: #2563eb; margin: 10px 0 0 0; font-size: 22px;\">{{ $json.totalSales }}</h2>\n                </td>\n                <td width=\"4%\"></td>\n                <td width=\"48%\" style=\"background-color: #f0fdf4; padding: 20px; border-radius: 12px; text-align: center; border: 1px solid #dcfce7;\">\n                    <p style=\"color: #166534; margin: 0; font-size: 13px; font-weight: bold;\">عدد العمليات</p>\n                    <h2 style=\"color: #16a34a; margin: 10px 0 0 0; font-size: 22px;\">{{ $json.ordersCount }}</h2>\n                </td>\n            </tr>\n        </table>\n    </div>\n\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 0 20px 20px 20px; border-radius: 0 0 15px 15px;\">\n        <table width=\"100%\" style=\"border-collapse: collapse; background-color: #fcfcfc; border-radius: 10px; border: 1px solid #f1f5f9;\">\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; border-bottom: 1px solid #f1f5f9; vertical-align: top;\">🥇 المنتج الأكثر طلباً</td>\n                <td style=\"padding: 15px; color: #0f172a; font-weight: bold; text-align: left; border-bottom: 1px solid #f1f5f9;\">{{ $json.topProduct }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; border-bottom: 1px solid #f1f5f9; vertical-align: top;\">📊 قائمة الـ 5 الأوائل</td>\n                <td style=\"padding: 15px; color: #3b82f6; font-size: 14px; text-align: left; border-bottom: 1px solid #f1f5f9; line-height: 1.8;\">\n                    {{ $json.top5Products }}\n                </td>\n            </tr>\n            <tr>\n                <td style=\"padding: 15px; color: #64748b; vertical-align: top;\">⏰ ساعة الذروة</td>\n                <td style=\"padding: 15px; color: #f59e0b; font-weight: bold; text-align: left;\">{{ $json.peakHour }}</td>\n            </tr>\n        </table>\n\n        <div style=\"text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #f1f5f9;\">\n            <p style=\"color: #94a3b8; font-size: 12px; margin: 0;\">هذا التقرير تم توليده تلقائياً كجزء من مشروع التخرج</p>\n            <p style=\"color: #475569; font-size: 13px; font-weight: bold; margin: 5px 0;\"> Smart BI System Team | MCI Academy 2026</p>\n        </div>\n    </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3568,
        880
      ],
      "id": "d0f17807-2b36-4de6-9a00-14c31900547c",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "oqskIIBj8Ex9aUYP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "# The end of Fast Track",
        "height": 80,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4688,
        880
      ],
      "id": "4c0454d0-46c8-4bb0-8d0e-656477018920",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b6660d-90ba-4ee9-8d8a-3941240debed",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        896
      ],
      "id": "ecd15888-eede-44ee-a50f-2cc1b5ce2576",
      "name": "Data Validation & Security Gate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1936,
        1632
      ],
      "id": "52d8f6b5-3e01-421b-add8-fcf68e2f0589",
      "name": "API Response Handler"
    },
    {
      "parameters": {
        "content": "## Receive Sales File (Webhook) \n**تعتبر هذه النود \"بوابة استقبال البيانات\". وظيفتها استلام ملف المبيعات (Excel/CSV) والبريد الإلكتروني من واجهة المستخدم عبر بروتوكول HTTP POST، وهي نقطة انطلاق سير العمل بالكامل.**",
        "height": 144,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        1088
      ],
      "typeVersion": 1,
      "id": "4d8680cd-500f-444b-80a4-9a9ba66bbb7c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Parse Excel Data\n**تعمل كمحرك \"استخراج البيانات\". تقوم بتحويل الملف الثنائي (Binary) المرفوع إلى تنسيق JSON يمكن للنظام قراءته ومعالجته برمجياً. في تجربتك، نجحت هذه النود في استخراج العناصر من ملف البيانات.**",
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1088
      ],
      "typeVersion": 1,
      "id": "1cf96506-216d-483d-a96b-f23ed079dc5f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## (If Node)\n**هي \"صمام الأمان\" للنظام. تقوم بالتحقق من شرطين أساسيين عبر بوابة منطقية (AND):\nالتأكد من أن الملف يحتوي على بيانات (أكبر من 0).**",
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        1088
      ],
      "typeVersion": 1,
      "id": "3fea023c-e9ae-4c40-9776-126b35e062ec",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## (Respond to Webhook) \n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**",
        "height": 144,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        1808
      ],
      "typeVersion": 1,
      "id": "1071364d-f6e7-485d-8439-a230f2950a4a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## (Code Node)\n**تمثل \"محرك التحليل اللحظي\". تستخدم لغة JavaScript لحساب المؤشرات الرئيسية (KPIs) مثل إجمالي المبيعات، المنتج الأكثر طلباً، وتوليد \"الرؤية الذكية\" (Insight) بناءً على الأرقام المستخرجة.**",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        1056
      ],
      "typeVersion": 1,
      "id": "de86becb-e154-4182-abca-69db9c481953",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook\n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**",
        "height": 144,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        1088
      ],
      "typeVersion": 1,
      "id": "f3c3e149-0dfb-4c17-bb55-08e1e1b03c4d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Email \n**هي \"خدمة التقارير المؤتمتة\". تقوم بصياغة إيميل احترافي يحتوي على ملخص التحليل وإرساله تلقائياً إلى بريد المستخدم المسجل، مما يضمن وصول المعلومات لصاحب القرار فوراً.**",
        "height": 144,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        1104
      ],
      "typeVersion": 1,
      "id": "91c92af6-d2be-450f-986b-b502511061c6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Append or update row in sheet\n**تعتبر هذه النود هي قاعدة بيانات النظام (System Database)، وهي المسؤولة عن تحويل مخرجات المعالجة اللحظية إلى سجلات دائمة.**",
        "height": 112,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4016,
        1120
      ],
      "typeVersion": 1,
      "id": "b4875abb-e59c-41dc-a912-27de7f48b471",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U",
          "mode": "list",
          "cachedResultName": "n8n-Graduation-Project-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wR_ixU9DzHgVYDvlnwsYFMA-oJ2qvJ5kqaxiT0VrL7U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
            "totalSales": "={{ $('Calculate Quick Metrics').item.json.totalSales }}",
            "ordersCount": "={{ $('Calculate Quick Metrics').item.json.ordersCount }}",
            "topProduct": "={{ $('Calculate Quick Metrics').item.json.topProduct }}",
            "insight": "={{ $('Calculate Quick Metrics').item.json.insight }}",
            "top5Product": "={{ $('Calculate Quick Metrics').item.json.top5Products }}"
          },
          "matchingColumns": [
            "userEmail"
          ],
          "schema": [
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalSales",
              "displayName": "totalSales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ordersCount",
              "displayName": "ordersCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topProduct",
              "displayName": "topProduct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insight",
              "displayName": "insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top5Product",
              "displayName": "top5Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4096,
        880
      ],
      "id": "bc51436b-4ac1-4f3e-8659-b96ae168f085",
      "name": "Sync Customer Activity to DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PVlIuCBmjXA9ZFrB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Edit Fields\n**تنظيف البيانات: تقوم النود بتحويل أسماء الأعمدة في ملف الإكسيل من أسماء عشوائية إلى أسماء برمجية موحدة (مثل تحويل \"إيميل العميل\" إلى userEmail).\n\nتجهيز التحليل: تختار فقط المعلومات المهمة للبيزنس (مثل السعر والمنتج) وتستبعد أي بيانات زائدة ليس لها داعٍ.**",
        "height": 224,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        1072
      ],
      "typeVersion": 1,
      "id": "fe3aeddb-c547-4c03-97e6-f5d28238dfef",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79afd86a-7103-4dff-b1b6-89f18292a7f7",
              "name": "Standard_Product",
              "value": "={{ $json[\"Product\"] || $json[\"Item\"] || $json[\"المنتج\"] || $json[\"الصنف\"] }}",
              "type": "string"
            },
            {
              "id": "268d5c81-575b-454a-b57b-c46b9474163c",
              "name": "Standard_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2a1ea48d-1e3e-4f1b-b814-a91c81cee9f8",
              "name": "Standard_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2d4c66a2-f195-481d-90e1-7821631b95c9",
              "name": "Std_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] || $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "a97a36cc-a376-46da-a96b-0829a4d29311",
              "name": "Std_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] || $json[\"الساعة\"] }}",
              "type": "string"
            },
            {
              "id": "90386b34-21b9-4c21-82c7-5bf158b8f1f0",
              "name": "Std_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] || $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "70dccb2e-bea0-49f4-97a7-d16737fc4780",
              "name": "Std_CustomerID",
              "value": "={{ $json[\"CustomerID\"] || $json[\"CustID\"] || $json[\"رقم_العميل\"] }}",
              "type": "string"
            },
            {
              "id": "d38192b4-0c6c-4f1a-90ad-02566373d7bf",
              "name": "Std_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] || $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "3a98f9fc-8ef6-4b61-9cae-dc430f941849",
              "name": "Std_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"سعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "d5f3dcf1-8705-4c4a-b659-419969d15db0",
              "name": "Std_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] || $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "1909b51a-0d03-4f2d-88c0-2bf74e764453",
              "name": "Std_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] || $json[\"القسم\"] }}",
              "type": "string"
            },
            {
              "id": "1b36c840-a3ef-48e9-8788-7addaee3d899",
              "name": "Std_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "bf3e8977-c53d-4456-85ca-7760e7cea849",
              "name": "Std_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        896
      ],
      "id": "aec5b548-c3dc-475a-ad33-e209f8a513b6",
      "name": "Data Formatter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/9d8c36fe-01ec-4dc9-b9eb-4731be25c0d8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Receive Sales File').first().json.body.email }}"
            },
            {
              "name": "data",
              "value": "={{ $('Parse Excel Data').all().map(item => item.json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4480,
        880
      ],
      "id": "500f3114-8d96-495a-8e6c-f34424b03572",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Sales File": {
      "main": [
        [
          {
            "node": "Parse Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel Data": {
      "main": [
        [
          {
            "node": "Data Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quick Metrics": {
      "main": [
        [
          {
            "node": "UI Instant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UI Instant Response": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation & Security Gate": {
      "main": [
        [
          {
            "node": "Calculate Quick Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Formatter": {
      "main": [
        [
          {
            "node": "Data Validation & Security Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Customer Activity to DB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instant Smart Report": {
      "main": [
        [
          {
            "node": "Sync Customer Activity to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81d2ca97-e0a6-4dfa-ac78-cafd75381bc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5432097ef030478e21b25f30699d819bd160e7e78ba30b06f6c0c37d85f1cf26"
  },
  "id": "64lY0qOehXbtJg1c",
  "tags": []
}