n8n-Workflows/The end of Fast Track(n8n).json
{
  "name": "Smart Business Intelligence Reporting System",
  "nodes": [
    {
      "parameters": {
        "content": "# Smart Business Intelligence Reporting System\n\n## Graduation Project | MCI Academy 2026\n\n",
        "height": 192,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        -896
      ],
      "id": "03aacc5e-7afb-4765-a6a5-5470a8ed26c3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Fast Track",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        544
      ],
      "id": "79766d82-474d-4273-a639-a24ffb558085",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31fc8a26-7929-40cf-9b35-9a537e2c6f19",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1840,
        0
      ],
      "id": "b01e2d5e-cb2e-4eaa-a34c-1a2829d9a2da",
      "name": "Receive Sales File",
      "webhookId": "31fc8a26-7929-40cf-9b35-9a537e2c6f19"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1296,
        0
      ],
      "id": "7cd81568-ce67-4b64-935d-98b33cf9b521",
      "name": "Parse Excel Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. مرونة أسماء الأعمدة (دعم العربي والإنجليزي)\n    const price = parseFloat(data.UnitPrice || data.Price || data['سعر الوحدة'] || data['السعر'] || 0);\n    const qty = parseInt(data.Quantity || data.Qty || data['الكمية'] || 0);\n    const productName = data.Product || data.Item || data['المنتج'] || data['الصنف'] || \"غير معروف\";\n    \n    const lineTotal = price * qty;\n    totalRevenue += lineTotal;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة (أعلى من 5000)\n    if (lineTotal > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات والوقت\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    if (data.Date) {\n        // معالجة تاريخ إكسيل الرقمي أو النصوص\n        const dateObj = isNaN(data.Date) ? new Date(data.Date) : new Date((data.Date - 25569) * 86400 * 1000);\n        const hour = dateObj.getHours();\n        hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n    }\n});\n\n// 4. ترتيب المنتجات تنازلياً لاستخراج القائمة\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\n// استخراج أفضل 5 منتجات بتنسيق نصي جذاب للإيميل\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `${name} (${qty} قطعة)`;\n}).join(' | ');\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 5. استنتاج ذكي (Insight) مطور بناءً على المنتج الأول\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 6. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName, // المنتج الأول للواجهة\n    top5Products: top5List,      // القائمة الكاملة للخمسة الأوائل للإيميل\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"Receive Sales File\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ],
      "id": "28637aa2-972d-44c4-a675-5f0b9c1c986f",
      "name": "Calculate Quick Metrics"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        -16
      ],
      "id": "a1d6a407-d730-441a-a7bf-01c57e07fe68",
      "name": "UI Instant Response"
    },
    {
      "parameters": {
        "fromEmail": "abdelwahabshandy@gmail.com",
        "toEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
        "subject": "📑 التقرير السريع لمبيعاتك | Smart BI System",
        "html": "=<div dir=\"rtl\" style=\"font-family: 'Cairo', Tahoma, sans-serif; background-color: #f4f7f9; padding: 20px; border-radius: 15px;\">\n    <div style=\"text-align: center; background-color: #0f172a; padding: 20px; border-radius: 12px 12px 0 0;\">\n        <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">Smart BI <span style=\"color: #3b82f6;\">System</span></h1>\n        <p style=\"color: #cbd5e1; margin-top: 5px; font-size: 14px;\">تقرير التحليل اللحظي للمبيعات</p>\n    </div>\n\n    <div style=\"background-color: #ffffff; padding: 15px; margin: 20px 0; border-right: 6px solid #f59e0b; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n        <h3 style=\"color: #0f172a; margin-top: 0;\">💡 رؤية النظام الذكي:</h3>\n        <p style=\"color: #475569; font-size: 16px; font-weight: bold; margin-bottom: 0;\">{{ $json.insight }}</p>\n    </div>\n\n    <div style=\"display: flex; gap: 10px; margin-bottom: 20px;\">\n        <div style=\"background: white; padding: 15px; border-radius: 10px; flex: 1; text-align: center; border: 1px solid #e2e8f0;\">\n            <p style=\"color: #64748b; margin: 0; font-size: 13px;\">إجمالي الإيرادات</p>\n            <h2 style=\"color: #3b82f6; margin: 5px 0;\">{{ $json.totalSales }}</h2>\n        </div>\n        <div style=\"background: white; padding: 15px; border-radius: 10px; flex: 1; text-align: center; border: 1px solid #e2e8f0;\">\n            <p style=\"color: #64748b; margin: 0; font-size: 13px;\">عدد العمليات</p>\n            <h2 style=\"color: #10b981; margin: 5px 0;\">{{ $json.ordersCount }}</h2>\n        </div>\n    </div>\n\n    <div style=\"background: white; padding: 20px; border-radius: 12px; border: 1px solid #e2e8f0;\">\n        <table style=\"width: 100%; border-collapse: collapse;\">\n            <tr>\n                <td style=\"padding: 10px 0; color: #64748b; border-bottom: 1px solid #f1f5f9;\">🥇 المنتج الأكثر طلباً:</td>\n                <td style=\"padding: 10px 0; color: #0f172a; font-weight: bold; text-align: left; border-bottom: 1px solid #f1f5f9;\">{{ $json.topProduct }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 10px 0; color: #64748b; border-bottom: 1px solid #f1f5f9;\">⏰ ساعة الذروة:</td>\n                <td style=\"padding: 10px 0; color: #f59e0b; font-weight: bold; text-align: left; border-bottom: 1px solid #f1f5f9;\">{{ $json.peakHour }}</td>\n            </tr>\n        </table>\n    </div>\n\n    <div style=\"text-align: center; margin-top: 30px; color: #94a3b8; font-size: 12px;\">\n        <p>هذا التقرير تم توليده فورياً بواسطة محرك الأتمتة الخاص بمشروع التخرج.</p>\n        <p>MCI Academy 2026 | Abdelwahab Ahmed Shandy</p>\n    </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        688,
        -16
      ],
      "id": "4d48d35e-18de-4711-967f-caba80cf650c",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "oqskIIBj8Ex9aUYP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "### The end of Fast Track\n\n",
        "height": 80,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -16
      ],
      "id": "c95e44e8-313f-4965-a7f2-51523efc7437",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b6660d-90ba-4ee9-8d8a-3941240debed",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        0
      ],
      "id": "b0af2a21-1cdf-43e3-b82b-a686ec8d7781",
      "name": "Data Validation & Security Gate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -256,
        480
      ],
      "id": "c05a015f-6b28-4655-97a0-5bd466e1bc81",
      "name": "API Response Handler"
    },
    {
      "parameters": {
        "content": "## Receive Sales File (Webhook) \n**تعتبر هذه النود \"بوابة استقبال البيانات\". وظيفتها استلام ملف المبيعات (Excel/CSV) والبريد الإلكتروني من واجهة المستخدم عبر بروتوكول HTTP POST، وهي نقطة انطلاق سير العمل بالكامل.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        192
      ],
      "typeVersion": 1,
      "id": "a726cb32-f56f-4868-b03f-d8acdb3b8018",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Parse Excel Data\n**تعمل كمحرك \"استخراج البيانات\". تقوم بتحويل الملف الثنائي (Binary) المرفوع إلى تنسيق JSON يمكن للنظام قراءته ومعالجته برمجياً. في تجربتك، نجحت هذه النود في استخراج العناصر من ملف البيانات.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        192
      ],
      "typeVersion": 1,
      "id": "17dbc84e-7452-4afe-9eb0-161de2dcb91b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## (If Node)\n**هي \"صمام الأمان\" للنظام. تقوم بالتحقق من شرطين أساسيين عبر بوابة منطقية (AND):\nالتأكد من أن الملف يحتوي على بيانات (أكبر من 0).**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        192
      ],
      "typeVersion": 1,
      "id": "ae246424-e96d-41d8-8af2-88b98f628c25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## (Respond to Webhook) \n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        640
      ],
      "typeVersion": 1,
      "id": "96def73c-aad8-4eee-8cc5-45240a194d39",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## (Code Node)\n**تمثل \"محرك التحليل اللحظي\". تستخدم لغة JavaScript لحساب المؤشرات الرئيسية (KPIs) مثل إجمالي المبيعات، المنتج الأكثر طلباً، وتوليد \"الرؤية الذكية\" (Insight) بناءً على الأرقام المستخرجة.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        144
      ],
      "typeVersion": 1,
      "id": "1261d440-0f0c-4e94-8f4c-4f800d9abb15",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook\n**وظيفتها \"تحديث واجهة المستخدم\". تقوم بإرسال نتائج التحليل النهائية فورياً لتعرض على الداشبورد في شكل أرقام ورسوم بيانية قبل إتمام العمليات الخلفية الأخرى.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        144
      ],
      "typeVersion": 1,
      "id": "36437d59-77fc-4946-a691-bd208042f3fe",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Email \n**هي \"خدمة التقارير المؤتمتة\". تقوم بصياغة إيميل احترافي يحتوي على ملخص التحليل وإرساله تلقائياً إلى بريد المستخدم المسجل، مما يضمن وصول المعلومات لصاحب القرار فوراً.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        176
      ],
      "typeVersion": 1,
      "id": "a6f18f05-d2b1-4309-9d00-25cfe7ddc957",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Sales File": {
      "main": [
        [
          {
            "node": "Parse Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel Data": {
      "main": [
        [
          {
            "node": "Data Validation & Security Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quick Metrics": {
      "main": [
        [
          {
            "node": "UI Instant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UI Instant Response": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instant Smart Report": {
      "main": [
        []
      ]
    },
    "Data Validation & Security Gate": {
      "main": [
        [
          {
            "node": "Calculate Quick Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c877ed7-c0b7-42d6-9a04-ca361ded6bc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5432097ef030478e21b25f30699d819bd160e7e78ba30b06f6c0c37d85f1cf26"
  },
  "id": "PCUgfusdeFOovCsu",
  "tags": []
}