Tasks/Marwan Singer/n8n-Workflows/graduation (fast-track).json
{
  "name": "graduation (fast-track)",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"الملف المرفوع فارغ، يرجى التأكد من البيانات\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        448
      ],
      "id": "045649e1-ec8d-424e-981c-62055c6e4794",
      "name": "API Response Handler"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        160
      ],
      "id": "e6ff9421-902c-4aa6-92e1-ff4fe2b1ffb2",
      "name": "Sync Customer Activity to DB"
    },
    {
      "parameters": {
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=email",
              "value": "={{ $('Receive Sales File').item.json.body.email }}"
            },
            {
              "name": "data",
              "value": "={{ $('Parse Excel Data').all().map(item => item.json) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        160
      ],
      "id": "e361b91f-26ed-4a43-a558-a3d106455c79",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31fc8a26-7929-40cf-9b35-9a537e2c6f19",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        160
      ],
      "id": "b5c905b2-d8f0-46df-8a90-a08fd945f991",
      "name": "Receive Sales File",
      "webhookId": "31fc8a26-7929-40cf-9b35-9a537e2c6f19"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        240,
        160
      ],
      "id": "27c39bfb-54cd-4043-967f-905acfb24acd",
      "name": "Parse Excel Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. استخدام الحقول الموحدة من نود Edit Fields\n    const price = data.Standard_Price || 0;\n    const qty = data.Standard_Qty || 0;\n    const productName = data.Standard_Product || \"غير معروف\";\n    const orderDate = data.Std_Date;\n    \n    totalRevenue += price;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة\n    if (price > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    // 4. معالجة الوقت والتاريخ\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            const hour = dateObj.getHours();\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n        }\n    }\n});\n\n// 5. ترتيب المنتجات وتنسيق القائمة بشكل رأسي <br>\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `• ${name}: <b>${qty}</b> قطعة`;\n}).join('<br>'); // النزول لسطر جديد في الإيميل\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 6. الاستنتاج الذكي (Insight)\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 7. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName,\n    top5Products: top5List,\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"Receive Sales File\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        160
      ],
      "id": "1625e02b-9813-47e5-b982-226bf402e8ad",
      "name": "Calculate Quick Metrics"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        160
      ],
      "id": "5ca2e0b3-d9c6-4356-86e6-fedb2641628e",
      "name": "UI Instant Response"
    },
    {
      "parameters": {
        "fromEmail": "marwansinger13579@gmail.com",
        "toEmail": "={{ $('Calculate Quick Metrics').item.json.userEmail }}",
        "subject": "المحلل الذكى",
        "html": "=<div dir=\"rtl\" style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f7fa; padding: 40px 15px; color: #334155;\">\n    \n    <div style=\"max-width: 550px; margin: 0 auto; background-color: #ffffff; border-radius: 24px; overflow: hidden; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\">\n        \n        <div style=\"background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%); padding: 35px 20px; text-align: center;\">\n            <div style=\"display: inline-block; padding: 8px 16px; background: rgba(59, 246, 93, 0.1); border-radius: 100px; margin-bottom: 15px;\">\n                <span style=\"color: #3bf65d; font-size: 12px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase;\">Real-time Report</span>\n            </div>\n            <h1 style=\"color: #ffffff; margin: 0; font-size: 28px; font-weight: 700;\">Data <span style=\"color: #3bf65d;\">Analysis</span></h1>\n            <p style=\"color: #94a3b8; margin-top: 10px; font-size: 14px;\">ملخص أداء المبيعات والمنتجات</p>\n        </div>\n\n        <div style=\"padding: 25px;\">\n            <div style=\"background: #f8fafc; border-radius: 16px; padding: 20px; border: 1px solid #e2e8f0; position: relative; overflow: hidden;\">\n                <div style=\"position: absolute; top: 0; right: 0; height: 100%; width: 4px; background: #3bf65d;\"></div>\n                <h3 style=\"color: #1e293b; margin: 0 0 10px 0; font-size: 15px; display: flex; align-items: center;\">\n                    <span style=\"font-size: 18px; margin-left: 8px;\">✨</span> تحليل الذكاء الاصطناعي\n                </h3>\n                <p style=\"color: #475569; font-size: 14px; margin: 0; line-height: 1.8; font-style: italic;\">\n                    \"{{ $json.insight }}\"\n                </p>\n            </div>\n\n            <div style=\"margin-top: 25px;\">\n                <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n                    <tr>\n                        <td width=\"48%\" style=\"background: #ffffff; padding: 20px; border-radius: 20px; border: 1px solid #f1f5f9; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05); text-align: center;\">\n                            <span style=\"display: block; color: #64748b; font-size: 12px; font-weight: 600; margin-bottom: 8px;\">إجمالي الإيرادات</span>\n                            <span style=\"display: block; color: #0f172a; font-size: 24px; font-weight: 800;\">{{ $json.totalSales }}</span>\n                            <span style=\"display: inline-block; width: 30px; height: 3px; background: #3bf65d; border-radius: 10px; margin-top: 10px;\"></span>\n                        </td>\n                        <td width=\"4%\"></td>\n                        <td width=\"48%\" style=\"background: #ffffff; padding: 20px; border-radius: 20px; border: 1px solid #f1f5f9; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05); text-align: center;\">\n                            <span style=\"display: block; color: #64748b; font-size: 12px; font-weight: 600; margin-bottom: 8px;\">عدد العمليات</span>\n                            <span style=\"display: block; color: #0f172a; font-size: 24px; font-weight: 800;\">{{ $json.ordersCount }}</span>\n                            <span style=\"display: inline-block; width: 30px; height: 3px; background: #3b82f6; border-radius: 10px; margin-top: 10px;\"></span>\n                        </td>\n                    </tr>\n                </table>\n            </div>\n\n            <div style=\"margin-top: 30px; background: #ffffff; border-radius: 20px; border: 1px solid #f1f5f9; padding: 20px;\">\n                <div style=\"padding-bottom: 15px; border-bottom: 1px solid #f1f5f9; margin-bottom: 15px; display: flex; justify-content: space-between; align-items: center;\">\n                    <span style=\"color: #1e293b; font-weight: 700; font-size: 15px;\">🏆 المنتج الأكثر طلباً</span>\n                    <span style=\"color: #3bf65d; font-weight: bold; font-size: 14px;\">{{ $json.topProduct }}</span>\n                </div>\n                \n                <div style=\"padding: 10px 0;\">\n                    <p style=\"color: #64748b; font-size: 13px; margin: 0 0 12px 0; font-weight: 600;\">📊 قائمة أعلى 5 منتجات:</p>\n                    <div style=\"background: #fcfcfc; border-radius: 12px; padding: 15px; border: 1px dashed #cbd5e1; color: #334155; font-size: 14px; line-height: 2; text-align: left;\">\n                        {{ $json.top5Products }}\n                    </div>\n                </div>\n            </div>\n\n            <div style=\"text-align: center; margin-top: 30px; border-top: 1px solid #f1f5f9; padding-top: 20px;\">\n                <p style=\"color: #94a3b8; font-size: 11px; margin: 0;\">نظام التحليل الذكي  • {{ new Date().toLocaleDateString() }}</p>\n            </div>\n        </div>\n    </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1376,
        160
      ],
      "id": "b1cda6ab-e0f5-44fb-8197-e59cb34fce4d",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b6660d-90ba-4ee9-8d8a-3941240debed",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        160
      ],
      "id": "655ab7a1-709a-42f7-9ab1-780a6030afac",
      "name": "Data Validation & Security Gate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79afd86a-7103-4dff-b1b6-89f18292a7f7",
              "name": "Standard_Product",
              "value": "={{ $json[\"Product\"] || $json[\"Item\"] || $json[\"المنتج\"] || $json[\"الصنف\"] }}",
              "type": "string"
            },
            {
              "id": "268d5c81-575b-454a-b57b-c46b9474163c",
              "name": "Standard_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2a1ea48d-1e3e-4f1b-b814-a91c81cee9f8",
              "name": "Standard_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "2d4c66a2-f195-481d-90e1-7821631b95c9",
              "name": "Std_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] || $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "a97a36cc-a376-46da-a96b-0829a4d29311",
              "name": "Std_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] || $json[\"الساعة\"] }}",
              "type": "string"
            },
            {
              "id": "90386b34-21b9-4c21-82c7-5bf158b8f1f0",
              "name": "Std_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] || $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "70dccb2e-bea0-49f4-97a7-d16737fc4780",
              "name": "Std_CustomerID",
              "value": "={{ $json[\"CustomerID\"] || $json[\"CustID\"] || $json[\"رقم_العميل\"] }}",
              "type": "string"
            },
            {
              "id": "d38192b4-0c6c-4f1a-90ad-02566373d7bf",
              "name": "Std_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] || $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "3a98f9fc-8ef6-4b61-9cae-dc430f941849",
              "name": "Std_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"سعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "d5f3dcf1-8705-4c4a-b659-419969d15db0",
              "name": "Std_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] || $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "1909b51a-0d03-4f2d-88c0-2bf74e764453",
              "name": "Std_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] || $json[\"القسم\"] }}",
              "type": "string"
            },
            {
              "id": "1b36c840-a3ef-48e9-8788-7addaee3d899",
              "name": "Std_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "bf3e8977-c53d-4456-85ca-7760e7cea849",
              "name": "Std_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        160
      ],
      "id": "54cede43-b84c-4f66-ab4e-a1faac3b467a",
      "name": "Data Formatter"
    }
  ],
  "pinData": {},
  "connections": {
    "Sync Customer Activity to DB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Sales File": {
      "main": [
        [
          {
            "node": "Parse Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel Data": {
      "main": [
        [
          {
            "node": "Data Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quick Metrics": {
      "main": [
        [
          {
            "node": "UI Instant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UI Instant Response": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation & Security Gate": {
      "main": [
        [
          {
            "node": "Calculate Quick Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Formatter": {
      "main": [
        [
          {
            "node": "Data Validation & Security Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instant Smart Report": {
      "main": [
        [
          {
            "node": "Sync Customer Activity to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "28be0f48-5f7b-4b27-b237-9dbdd320e557",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09b3cf77e495ffd8426ecd872923b1036e1861e4ffd1f7022450141217854cc8"
  },
  "id": "206nQs7eusjtHG6G",
  "tags": []
}