Tasks/Marwan Singer/n8n-Workflows/graduation (slow-track).json
{
  "name": "graduation (slow-track)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"قم بتحليل التقرير التالي ولخص أهم النقاط: {{ $json.report_data }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        -272
      ],
      "id": "cd5538a2-6cac-4e33-9d2e-b66f6b6adbaf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "المحلل الذكى",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        48
      ],
      "id": "f24edfff-cf84-4b41-b133-9b57c656f432",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b6660d-90ba-4ee9-8d8a-3941240debed",
              "leftValue": "={{ $json.output }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -272
      ],
      "id": "32a7b284-09a2-4afe-acd7-ae61cca9706a",
      "name": "if"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ],
      "id": "f5068d6a-e542-4c07-83b5-d0cbbc3f789d",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-data",
        "options": {}
      },
      "id": "8c9c34b8-af95-4715-9bca-57a38c9bcef4",
      "name": "Webhook(Slow Track)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1248,
        -272
      ],
      "webhookId": "analyze-data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1056,
        -272
      ],
      "id": "646f59c2-9e62-44ad-89ed-a27268921d4f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af08e61-0e76-40db-9f94-9985bb5d8d63",
              "name": "Clean_Product",
              "value": "={{ $json[\"body.data\"].Product }}",
              "type": "string"
            },
            {
              "id": "2d301b52-6bb4-4ef1-85d7-abe30cef97b2",
              "name": "Clean_Price",
              "value": "={{ $json[\"body.data\"].TotalPrice }}",
              "type": "number"
            },
            {
              "id": "b68d5451-f6fd-49c0-ac82-4ffda4a0126c",
              "name": "Clean_Qty",
              "value": "={{ $json[\"body.data\"].Quantity }}",
              "type": "number"
            },
            {
              "id": "895db312-312f-4bb1-928f-975f245d40f5",
              "name": "Clean_Status",
              "value": "={{ $json[\"body.data\"].OrderStatus }}",
              "type": "string"
            },
            {
              "id": "abb78c33-4711-47f7-ad9a-f8c067440931",
              "name": "Clean_Source",
              "value": "={{ $json[\"body.data\"].ReferralSource }}",
              "type": "string"
            },
            {
              "id": "a32405b2-0d24-48dd-b26f-6de4f320df18",
              "name": "CouponCode",
              "value": "={{ $json[\"body.data\"].CouponCode }}",
              "type": "string"
            },
            {
              "id": "d4b6b301-f8be-457f-a1e1-dfd401c95682",
              "name": "=ItemsInCart",
              "value": "={{ $json[\"body.data\"].ItemsInCart }}",
              "type": "number"
            },
            {
              "id": "f875de4b-fc3d-4909-8903-9985d81bb4d2",
              "name": "PaymentMethod",
              "value": "={{ $json[\"body.data\"].PaymentMethod }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -272
      ],
      "id": "8bf06377-0c5d-4fd8-8086-8d1bd92d2339",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Clean_Price"
            },
            {
              "aggregation": "sum",
              "field": "Clean_Qty"
            }
          ]
        },
        "fieldsToSplitBy": "Clean_Product, Clean_Status, Clean_Source",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -704,
        -272
      ],
      "id": "cfa78f47-1d45-4a9a-b060-5885fd1a8a95",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "let summaryText = \"Sales Summary Report:\\n\";\n\nfor (const item of $input.all()) {\n  summaryText += `- ${item.json.Clean_Product} | Status: ${item.json.Clean_Status} | Source: ${item.json.Clean_Source} | Rev: $${item.json.sum_Clean_Price} | Qty: ${item.json.sum_Clean_Qty}\\n`;\n}\n\nreturn {\n  report_data: summaryText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -272
      ],
      "id": "3bf8c714-01c0-4682-91e0-0974e9737988",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "final_report_text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        -288
      ],
      "id": "46e45f37-e11e-477a-a4ad-b8bba292e445",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fromEmail": "marwansinger13579@gmail.com",
        "toEmail": "={{ $node[\"Webhook(Slow Track)\"].json.body.email }}",
        "subject": "المحلل الذكى",
        "html": "={{ (function() {\n  // 1. استخراج وتنظيف النص (الرؤية التحليلية)\n  const aiOutput = $json.final_report_text?.[0]?.output || \"لا توجد تحليلات متاحة حالياً.\";\n  \n  // تحويل النجوم لـ Bold بستايل أنيق وتنظيف السطور\n  const cleanInsight = aiOutput\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"color: #059669; background: #ecfdf5; padding: 0 4px; border-radius: 4px;\">$1</strong>')\n    .replace(/\\n/g, '<br>');\n\n  // 2. جلب البيانات الرقمية\n  const totalSales = $json.totalSales || \"0\";\n  const ordersCount = $json.ordersCount || \"0\";\n  const topProduct = $json.topProduct || \"غير محدد\";\n  const top5Products = $json.top5Products || \"جاري التحليل...\";\n\n  return `\n  <div dir=\"rtl\" style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f8fafc; padding: 40px 10px; color: #1e293b;\">\n      \n      <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 24px; overflow: hidden; box-shadow: 0 20px 25px -5px rgba(0,0,0,0.04), 0 10px 10px -5px rgba(0,0,0,0.02); border: 1px solid #e2e8f0;\">\n          \n          <div style=\"background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%); padding: 40px 20px; text-align: center; border-bottom: 5px solid #10b981;\">\n              <div style=\"background: rgba(16, 185, 129, 0.1); display: inline-block; padding: 6px 16px; border-radius: 50px; margin-bottom: 15px;\">\n                <span style=\"color: #10b981; font-size: 11px; font-weight: 800; text-transform: uppercase; letter-spacing: 2px;\">Smart Business Intelligence</span>\n              </div>\n              <h1 style=\"color: #ffffff; margin: 0; font-size: 28px; font-weight: 800;\">Data <span style=\"color: #10b981;\">Analysis</span></h1>\n              <p style=\"color: #94a3b8; margin-top: 10px; font-size: 14px; opacity: 0.9;\">تقرير الأداء الذكي • تحديث لحظي</p>\n          </div>\n\n          <div style=\"padding: 30px 25px;\">\n              <div style=\"background: linear-gradient(to left, #f8fafc, #ffffff); border-right: 4px solid #10b981; padding: 25px; border-radius: 16px; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.02);\">\n                  <h3 style=\"color: #0f172a; margin: 0 0 15px 0; font-size: 17px; font-weight: 700; display: flex; align-items: center;\">\n                      <span style=\"font-size: 20px; margin-left: 10px;\">🧠</span> تحليل الذكاء الاصطناعي\n                  </h3>\n                  <div style=\"color: #475569; font-size: 15px; line-height: 1.9; text-align: justify; border-top: 1px solid #f1f5f9; padding-top: 15px;\">\n                      ${cleanInsight}\n                  </div>\n              </div>\n\n              <div style=\"text-align: center; margin-top: 40px; border-top: 1px solid #f1f5f9; padding-top: 20px;\">\n                  <p style=\"color: #94a3b8; font-size: 11px; margin: 0; letter-spacing: 1px;\">\n                    تم التوليد بواسطة AI ENGINE • ${new Date().toLocaleDateString('ar-EG')}\n                  </p>\n              </div>\n          </div>\n      </div>\n  </div>\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        512,
        -288
      ],
      "id": "7860e11a-9df1-48db-928f-b97d8b71e9dd",
      "name": "Send Instant Smart Report",
      "webhookId": "916bfca0-3560-40fa-8976-9e3857dcc303",
      "credentials": {
        "smtp": {
          "id": "nBl0sxHcJJvmiSrY",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "if": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook(Slow Track)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send Instant Smart Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e70c1e52-2606-41ce-ad4f-fe0927891e46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09b3cf77e495ffd8426ecd872923b1036e1861e4ffd1f7022450141217854cc8"
  },
  "id": "z6HfIWtRTDhhnUBD",
  "tags": []
}