Tasks/Hadeer/Workflow/EditttNewMy workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3539ff47-4801-4bba-86da-310aa50d0740",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        16
      ],
      "id": "e5387207-926e-47fb-a2dd-7bb3434743a1",
      "name": "Verifying the entered data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"error\",\n  \"message\": \"الملف المرفوع فارغ. يرجى التأكد من البيانات\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -160,
        448
      ],
      "id": "e466e85f-c458-439d-a0a8-f335741a8057",
      "name": "API Response Handler"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalRevenue = 0;\nlet productCounts = {};\nlet hourlySales = {};\nlet highValueOrders = 0; \nlet totalQty = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // 1. استخدام الحقول الموحدة من نود Edit Fields\n    const price = data.Unified_Price || 0;\n    const qty = data.Unified_Qty || 0;\n    const productName = data.Unified_Product || \"غير معروف\";\n    const orderDate = data.Uni_Date;\n    \n    totalRevenue += price;\n    totalQty += qty;\n    \n    // 2. كشف الصفقات الكبيرة\n    if (price > 5000) highValueOrders++;\n\n    // 3. تجميع بيانات المنتجات\n    productCounts[productName] = (productCounts[productName] || 0) + qty;\n\n    // 4. معالجة الوقت والتاريخ\n    if (orderDate) {\n        const dateObj = isNaN(orderDate) ? new Date(orderDate) : new Date((orderDate - 25569) * 86400 * 1000);\n        if (!isNaN(dateObj.getTime())) {\n            const hour = dateObj.getHours();\n            hourlySales[hour] = (hourlySales[hour] || 0) + 1;\n        }\n    }\n});\n\n// 5. ترتيب المنتجات وتنسيق القائمة بشكل رأسي <br>\nconst sortedProducts = Object.entries(productCounts).sort((a, b) => b[1] - a[1]);\n\nconst top5List = sortedProducts.slice(0, 5).map(([name, qty]) => {\n    return `• ${name}: <b>${qty}</b> قطعة`;\n}).join('<br>'); // النزول لسطر جديد في الإيميل\n\nconst topProductName = sortedProducts.length > 0 ? sortedProducts[0][0] : \"N/A\";\nconst peakHourEntry = Object.entries(hourlySales).sort((a, b) => b[1] - a[1])[0];\n\n// 6. الاستنتاج الذكي (Insight)\nlet smartInsight = \"أداؤك مستقر اليوم.\";\nif (highValueOrders > 0) {\n    smartInsight = `انتباه: لديك ${highValueOrders} صفقات ضخمة تحتاج مراجعة دقيقة.`;\n} else if (totalQty > 100) {\n    smartInsight = `طلب مرتفع جداً على المنتج (${topProductName})! تأكد من توفر المخزون الكافي منه.`;\n}\n\n// 7. المخرجات النهائية\nreturn {\n    totalSales: totalRevenue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }),\n    ordersCount: items.length,\n    topProduct: topProductName,\n    top5Products: top5List,\n    peakHour: peakHourEntry ? `${peakHourEntry[0]}:00` : \"غير محدد\",\n    insight: smartInsight, \n    userEmail: $node[\"Receive Sales File\"].json.body.email \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0659cb44-b2f9-4f62-9399-e15c36491d50",
      "name": "Calculate Quick Metrics"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        0
      ],
      "id": "c6d440f5-fbf0-4d47-aa7d-f072a21babea",
      "name": "UI Instant Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8706e0b3-a8af-405f-8183-ef19f84eab03",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2112,
        16
      ],
      "id": "f1dadceb-aedf-46ed-8dd6-b5fc391c827a",
      "name": "Receive Sales File",
      "webhookId": "8706e0b3-a8af-405f-8183-ef19f84eab03"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1600,
        16
      ],
      "id": "1da6d680-5922-4443-a750-b5f14f9faa8d",
      "name": "Parse Excel Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feb76c7-e642-43c3-a7de-dca50fdc8e2c",
              "name": "Unified_Product",
              "value": "={{ $json[\"Product\"] || $json[\"Item\"] || $json[\"المنتج\"] || $json[\"الصنف\"] }}",
              "type": "string"
            },
            {
              "id": "a4c021f7-29c1-4361-83cf-96a4a645a184",
              "name": "Unified_Price",
              "value": "={{ parseFloat($json[\"TotalPrice\"] || $json[\"Total\"] || $json[\"الإجمالي\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "22b59518-2d82-4d52-9120-9890187d9fbc",
              "name": "Unified_Qty",
              "value": "={{ parseInt($json[\"Quantity\"] || $json[\"Qty\"] || $json[\"الكمية\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "7d6bf861-62a5-476c-8975-dcc47d123330",
              "name": "Uni_Date",
              "value": "={{ $json[\"Date\"] || $json[\"OrderDate\"] || $json[\"التاريخ\"] }}",
              "type": "number"
            },
            {
              "id": "b9a72df1-1c8e-4e45-ad2f-75eff6798f1d",
              "name": "Uni_Hour",
              "value": "={{ $json[\"Time\"] || $json[\"Hour\"] || $json[\"الساعة\"] }}",
              "type": "string"
            },
            {
              "id": "4e8c2aaa-c454-4690-928f-8f309c89ce7a",
              "name": "Uni_Location",
              "value": "={{ $json[\"Location\"] || $json[\"City\"] || $json[\"Address\"] || $json[\"المنطقة\"] }}",
              "type": "string"
            },
            {
              "id": "337dbd6d-d873-403a-baa6-7bf8042679d9",
              "name": "Uni_CustomerID",
              "value": "={{ $json[\"CustomerID\"] || $json[\"CustID\"] || $json[\"Client\"] || $json[\"رقم_العميل\"] }}",
              "type": "string"
            },
            {
              "id": "24eca431-5ed5-401e-9dde-64cd7cd53d3a",
              "name": "Uni_PaymentMethod",
              "value": "={{ $json[\"PaymentMethod\"] || $json[\"PaymentType\"] || $json[\"طريقة_الدفع\"] }}",
              "type": "string"
            },
            {
              "id": "63337a3c-7bf3-4dcb-a3a5-2e0d70eea3d7",
              "name": "Uni_UnitPrice",
              "value": "={{ parseFloat($json[\"UnitPrice\"] || $json[\"Price\"] || $json[\"سعر_الوحدة\"] || 0) }}",
              "type": "string"
            },
            {
              "id": "7c7ce3a4-4d93-4515-ae44-f85e860a8c70",
              "name": "Uni_Status",
              "value": "={{ $json[\"OrderStatus\"] || $json[\"Status\"] || $json[\"حالة_الطلب\"] }}",
              "type": "string"
            },
            {
              "id": "c31de89f-216a-481c-9393-fbfb80f7a981",
              "name": "Uni_Category",
              "value": "={{ $json[\"Category\"] || $json[\"ProductCategory\"] || $json[\"الفئة\"] || $json[\"القسم\"] }}",
              "type": "string"
            },
            {
              "id": "b58e699f-a8c4-4742-8a3f-8e5afcff458d",
              "name": "Uni_Cost",
              "value": "={{ parseFloat($json[\"Cost\"] || $json[\"UnitCost\"] || $json[\"التكلفة\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "52a15a17-3f35-4a27-a5a7-f46ba18f06fc",
              "name": "Uni_Discount",
              "value": "={{ parseFloat($json[\"Discount\"] || $json[\"CouponAmount\"] || $json[\"الخصم\"] || 0) }}",
              "type": "number"
            },
            {
              "id": "33b6426f-084e-4ef6-9e36-f2023df8764e",
              "name": "Unified_Rating",
              "value": "={{ parseFloat($json[\"Rating\"] || $json[\"ReviewRating\"] || $json[\"Score\"] || $json[\"Rate\"] || $json[\"التقييم\"] || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        16
      ],
      "id": "4749b516-1654-4afc-9a6a-61a34ad2ae65",
      "name": "Data Formatter"
    }
  ],
  "pinData": {},
  "connections": {
    "Verifying the entered data": {
      "main": [
        [
          {
            "node": "Calculate Quick Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quick Metrics": {
      "main": [
        [
          {
            "node": "UI Instant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Sales File": {
      "main": [
        [
          {
            "node": "Parse Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel Data": {
      "main": [
        [
          {
            "node": "Data Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Formatter": {
      "main": [
        [
          {
            "node": "Verifying the entered data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "db33e6bc-0e78-45d3-ace6-ab7c2dbe2d64",
  "meta": {
    "instanceId": "d24290936cec55ea2c6832a7a807a4f14cff997486995bdc7024b19c8694c9e7"
  },
  "id": "533Ix74IPTWFNZfi",
  "tags": []
}